ISLAMBOT_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE

# External APIs
TOPGG_TOKEN=
SUNNAH_API_KEY=

# Database configuration (Defaults are pre-set for Docker)
MYSQL_HOST=db
MYSQL_USER=islambot_user
MYSQL_PASSWORD=islambot_password
MYSQL_DATABASE=islambot

# Optional table overrides
MYSQL_SERVER_TRANSLATIONS_TABLE=server_translations
MYSQL_SERVER_TAFSIR_TABLE=server_tafsir
MYSQL_SERVER_ATAFSIR_TABLE=server_atafsir
MYSQL_USER_PRAYER_TIMES_TABLE=user_prayer
